@font-face {
  font-family: 'Arial CE Regular';
  src: url(/assets/fonts/arial_ce/ArialCE.ttf) format('truetype');
}
@font-face {
  font-family: 'Arial CE Bold';
  src: url(/assets/fonts/arial_ce/ArialCEBold.ttf) format('truetype');
}
@font-face {
  font-family: 'SegoeRegular';
  src: url(/assets/fonts/segoe/Segoe\UI.ttf) format('truetype');
}
@font-face {
  font-family: 'SegoeBold';
  src: url(/assets/fonts/segoe/Segoe\UI\Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  src: url(/assets/fonts/muli/Muli-VariableFont:wght.ttf) format('truetype');
}
@font-face {
  font-family: 'SourceSans';
  src: url(/assets/fonts/sourcesans/SourceSansPro-Regular.otf) format('truetype');
}
@font-face {
  font-family: 'Varela';
  src: url(/assets/fonts/varela/Varela-Regular.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
  /* font-family: "Nunito Sans", sans-serif; */
  /* font-family: "Arial CE Regular"; */
  font-family: 'Varela';
}

html {
  font-size: 16px;
}

/* ============= VARIABLES ============ */

:root {
  /* --primary-color: rgb(220, 28, 46); */
  --primary-color: #bd2939;
  --secondary-color: #003da5;
}

.hidden {
  display: none;
}

.fixed {
  position: fixed;
}
body {
  max-width: 100vw;
  background: #e7e7e7;
}
.container {
  max-width: 1100px;

  width: 95%;
  justify-self: center;
  align-self: center;

  /* height: auto; */
}

input[type='text'] {
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline-offset: 0px !important
  ;
  outline: none !important;
  /* border: none; */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  background: white;
}
select,
button,
input {
  box-shadow: none;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
